/* GENERAL */
body{
    padding: 0;
    margin: 0;
    color: #0D1821;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #0D1821;
    opacity: 75%;
}

/* HEADER */
header{
    background-image: url("../img/home-bg.webp");
    height: 100vh;
}

/* NAVBAR */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}

nav .nav-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

nav .nav-brand{
    width: 50%;
    height: auto;
}

nav .nav-burger{
    display: none;
    float: right;
}

nav ul .nav-head{
    padding: 0 10px;
}

nav a{
    text-transform: uppercase;
    font-size: 16px;
}

.show {
    display: flex !important;
}

/* NAVBAR RESPONSIVE */

@media (max-width:900px) {
    nav{
        flex-direction: column;
        align-items: center;
    }

    nav ul{
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    nav .nav-brand{
        width: 75%;
    }

    nav .nav-burger{
        display: block;
        cursor: pointer;
    }
    
    nav .nav-links{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }
  }

/* HERO */
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 50vh;
    margin: 0 10em;
}