/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* GENERAL */
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #0D1821;
    font-family: 'Poppins', sans-serif;
    font-size: 16pt;
    background-color: #f8f9f0;
}

li{
    list-style: none;
}

a, button{
    text-decoration: none;
    color: #0D1821;
    font-family: 'Poppins', sans-serif;
    font-size: 14pt;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 72pt;
    text-transform: uppercase;
    text-align: center;
}

h2{
    font-size: 48pt;
    text-decoration: solid underline #0074d9 2px;
    text-underline-offset: 1vh;
    width: fit-content;
}

h3{
    text-decoration: solid underline #0074d9 2px;
    text-underline-offset: 0.5vh;
    width: fit-content;
    transition: all 0.3s ease;
}

h4{
    text-decoration: solid underline #0074d9 2px;
    text-underline-offset: 0.5vh;
    transition: all 0.3s ease;
    font-size: 24pt;
}

.btn-primary{
    background-color: #0074d9;
    color: #f8f9f0;
    border: 2px solid #0074d9;
    border-radius: 100px;
    padding: 15px 35px;
    cursor: pointer;
    font-weight: lighter;
    text-transform: uppercase;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: all 0.5s ease;
}

.btn-primary:hover{
    background-color: #f8f9f0;
    color: #0074d9;
    border: 2px solid #0074d9;
    transition: all 0.5s ease;
}

.btn-secondary{
    background-color: rgb(255, 255, 255, 0);
    color: #0D1821;
    border: 2px solid #0D1821;
    border-radius: 100px !important;
    padding: 10px 25px !important;
    cursor: pointer;
    font-weight: lighter;
    text-transform: uppercase;
    transition: all 0.5s ease;
    width: fit-content !important;
}

.btn-secondary:hover{
    background-color: #0D1821;
    color: #f8f9f0;
    border: 2px solid #0D1821;
    transition: all 0.5s ease;
}

.hero-separator{
    background-color: #0D1821;
    margin: 5em 2em;
}

/* PAGE D'ACCUEIL */

/* HEADER */
.home-header{
    background-image: url("../img/home-bg.webp");
    background-size: cover;
    height: 100vh;
}

/* HEADER RESPONSIVE*/

@media (max-width:900px) {
    header{
        background-image: none !important;
    }
  }

/* NAVBAR */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}

nav .nav-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

nav .nav-brand{
    width: 50%;
    height: auto;
}

nav .nav-burger{
    display: none;
    float: right;
}

nav ul .nav-head{
    padding: 0 10px;
}

nav a{
    text-transform: uppercase;
    font-size: 16px;
    opacity: 75%;
    transition: all 0.3s ease;
}

nav a:hover{
    opacity: 100%;
    transition: all 0.3s ease;

}

.show {
    display: flex !important;
}

/* NAVBAR RESPONSIVE */

@media (max-width:900px) {
    nav{
        flex-direction: column;
        align-items: center;
        border-bottom: solid 2px #0D1821;
        padding-bottom: 3vh;
    }

    nav ul{
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    nav .nav-brand{
        width: 75%;
    }

    nav .nav-burger{
        display: block;
        cursor: pointer;
    }
    
    nav .nav-links{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }
  }

/* HERO */
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 50vh;
    margin: 0 10em;
    margin-top: 10vh;
}

.hero h1{
    font-size: 80pt;
    text-transform: none;
    text-align: start;
}

.hero h2{
    font-size: 52pt;
    width: 75%;
    margin: -1em 0;
    text-decoration: none;
}

.hero h2 span{
    color: #0074d9;
}

.hero p{
    padding-top: 3em;
    padding-bottom: 1em;
    width: 30%;
}

.hero .btn-primary{
    font-size: 14pt;
}

/* HERO RESPONSIVE */
@media (max-width:900px) {
    .hero{
        margin: 0;
        margin-top: 8em;
        text-align: center;
        align-items: center;
    }

    .hero .hero-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-content .btn-primary{
        margin-bottom: 5em;
    }
    
    .hero h1{
        font-size: 48pt;
    }
    
    .hero h2{
        font-size: 32pt;
        width: 70%;
        margin: 0;
    }
    
    .hero p{
        padding-top: 1em;
        padding-bottom: 1em;
        width: 70%;
    }

    .hero .btn-primary{
        font-size: 12pt;
    }
  }

  /* REASSURANCE */

.reassurance{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    height: fit-content;
    padding: 2vh 0;
    background-color: rgb(248, 249, 240, 0.9);
    position: relative;
    top: 13.5vh;
}

.reassurance .assurance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15%;
    padding: 0 2em;
}

.reassurance .assurance img{
    height: 25%;
    width: auto;
}

.reassurance .assurance p{
    font-size: 14pt;
    margin: 0;
}

/* REASSURANCE RESPONSIVE */

@media (max-width:900px) {
    .reassurance{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
        padding: 1vh 0;
        border-top: 1px solid #0D1821;
        border-bottom: 1px solid #0D1821;
    }

    .reassurance .assurance{
        width: 50%;
        padding: 3vh 0;
    }
  }

/* CATEGORIES */

.categories{
    margin: 0 10em;
}

.categories .category-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: fit-content;
    position: relative;
}

.categories .category a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories .category a img{
    height: 40vh;
    width: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: all 0.3s ease;
}

.categories .category a img:hover{
    scale: 1.05;
    transition: all 0.3s ease;
}

.categories .category a h3:hover{
    text-decoration: solid underline #85C6FF 2px;
    text-underline-offset: 0.5vh;
    transition: all 0.3s ease;
}

.categories .category a p{
    font-size: 14pt;
    text-align: center;
    width: 15vw;
}

/* CATEGORY RESPONSIVE */

@media (max-width:900px) {
    .categories{
        margin: 0 5em;
        margin-top: 40em;
    }

    .categories h2{
        font-size: 28pt;
        text-align: center;
    }

    .categories .category-list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
        position: relative;
    }

    .categories .category a{
        width: 100%;
        padding: 3vh 0;
    }

    .categories .category a img{
        height: 40vh;
        width: auto;
        transition: all 0.3s ease;
    }

    .categories .category a h3{
        font-size: 18pt;
        text-align: center;
    }

    .categories .category a p{
        font-size: 12pt;
        text-align: center;
        width: 70%;
    }
  }

/* AVIS */

.home-avis{
    margin: 0 10em;
}

.avis-and-plane{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    height: fit-content;
    grid-template-areas: 
    "avis avis avis plane"
    ;
}

.avis{
    grid-area: avis;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
    scale: 0.8;
}

.avis .avis-item{
    display: flex;
    flex-direction: column;
    background-color: #85C6FF;
    padding: 1em 2em;
    margin: 1em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

.avis .avis-header span{
    font-weight: bolder;
}

.avis .stars{
    color: grey;
    margin: -.5em 0;
}

.stars .gold{
    color: #ffdc0f;
}

.plane-anim{
    grid-area: plane;
}

.avis-and-plane iframe{
    border: none;
    scale: 1.5;
}

/* AVIS RESPONSIVE */

@media (max-width:900px) {
    .home-avis{
        margin: 5em 1.3em 0 1.3em;
    }

    .home-avis h2{
        font-size: 28pt;
        text-align: center;
    }

    .avis-and-plane{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;
        height: fit-content;
        margin-top: -8em;
    }

    .avis{
        grid-area: avis;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: flex-start;
        height: fit-content;
        scale: 0.8;
    }

    .plane-anim{
        display: none;
    }
}

/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    margin: 0 10em;
    width: 75%;
    margin-top: 5em;
}

.footer-brand{
    width: 15em;
    height: auto;
}

footer .links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: space-between ;
    height: fit-content;
    width: fit-content;
    grid-template-areas: 
    "links links socialmedia";
}

footer .links .sitemap{
    grid-area: links;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    height: fit-content;
    width: fit-content;
    scale: 0.7;
    margin-right: 5em;
}

footer .links .sitemap .sitemap-title{
    font-size: 16pt;
    margin-bottom: 1em;
    text-decoration: solid underline #0074d9 2px;
}

footer .links .sitemap li{
    font-size: 14pt;
}

footer .links .socialmedia{
    grid-area: socialmedia;
    scale: 0.7;
    text-align: center;
    margin-left: 5em;
}

footer .links .socialmedia-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

footer .links .socialmedia-icon a{
    opacity: 0.5;
    transition: all 0.3s ease;
    margin: 0 .3em;
}

footer .links .socialmedia-icon a:hover{
    transition: all 0.3s ease;
    opacity: 1;
}

footer .legal{
    font-size: 7pt;
}

/* FOOTER RESPONSIVE */

@media (max-width:900px){
    footer{
        margin: 0 1.3em;
        justify-content: center;
        align-items: center;
        width: fit-content;
    }

    .footer-brand{
        width: 10em;
        height: auto;
    }

    footer .links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    footer .links .sitemap{
        display: none;
    }

    footer .socialmedia{
        margin: 0 !important;
    }

    footer .legal{
        text-align: center;
    }
}

/* PAGE A PROPOS */

/* HEADER */
.about-header{
    background-image: url("../img/about-bg.webp");
    background-size: cover;
    height: fit-content;
    padding-bottom: 5em;
}

/* HERO */
.about-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10em;
}

.about-hero h1{
    text-align: center;
}

.about-hero p{
    width: 50%;
}

/* HERO RESPONSIVE */

@media (max-width:900px){
    .about-hero{
        margin: 0 1.3em;
    }

    .about-hero h1{
        font-size: 40pt;
    }

    .about-hero h2{
        font-size: 32pt;
        text-align: center;
    }

    .about-hero p{
        width: 100%;
        text-align: center;
    }
}

/* CHIFFRES CLEF */

.aboutchiffre{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 5em 0;
    width: 100%;
}

.aboutchiffre .about-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10vw;
}

.aboutchiffre .about-info p{
    text-align: center;
    width: 99%;
    font-size: 14pt;

}

.aboutchiffre .about-info p span{
    font-weight: bolder;
}

/* CHIFFRE CLEF RESPONSIVE */

@media (max-width:900px){
    .aboutchiffre{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: -3em 0;
    }

    .aboutchiffre .about-info{
        width: 100%;
        margin: 1em 0;
    }

    .aboutchiffre .about-info p{
        width: 50%;
    }
}

/* Btn 1 voyage 1 arbre planté */

.programme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em 0;
}

.programme a{
    text-align: center;
    margin: 0 1em;
}

/* EXPEDIA GROUP */

.about-expedia{
    background-image: url("../img/expedia-bg.webp");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 0;
    margin-bottom: 5em;
}

/* EXPEDIA GROUP RESPONSIVE */

@media (max-width:900px){
    .about-expedia{
        margin: 5em 0;
    }

    .about-expedia img{
        scale: 0.5;
    }
}

/* PAGE CONTACT */

/* HEADER */
.contact-header{
    background-image: url("../img/contact-bg.webp");
    background-size: cover;
    height: fit-content;
    padding-bottom: 5em;
}

/* HERO */

.contact-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10em;
}

.contact-hero-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 3em;
}

.contact-hero .contact-hero-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact-hero .contact-hero-intro h3{
    text-decoration: none;
}

.contact-hero .contact-hero-intro h3 span{
    color: #0074d9;
}

.contact-hero-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-hero-form form{
    width: 100%;
    text-align: center;
}

.contact-hero-form .contact-form-input input, .contact-hero-form .contact-form-input textarea{
    width: 75%;
    padding: 1em 1em;
    margin: .5em 0;
    border: 1px solid #0D1821;
    border-radius: .2em;
}

/* HERO RESPONSIVE */

@media (max-width:900px){
    .contact-hero{
        margin: 0 1.3em;
    }

    .contact-hero h1{
        font-size: 40pt;
    }

    .contact-hero h2{
        font-size: 31pt;
    }

    .contact-hero-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-hero .contact-hero-intro{
        margin-bottom: 2em;
        text-align: center;
    } 

    .contact-hero-form .contact-form-input input, .contact-hero-form .contact-form-input textarea{
        width: 75%;
    }
}

/* CONTACT INFOS */

.contact-infos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 5em 0;
    width: 100%;
}

.contact-infos .contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    width: 15vw;
}

.contact-infos .contact-info p{
    text-align: center;
    width: 100%;
    font-size: 14pt;
}

/* CONTACT INFOS RESPONSIVE */

@media (max-width:900px){
    .contact-infos{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: -3em 0;
    }

    .contact-infos .contact-info{
        width: 100%;
        margin: 1em 0;
    }

    .contact-infos .contact-info p{
        width: 50%;
    }
}

/* FAQ */

.faq{
    display: flex;
    flex-direction: column;
    margin: 0 10em;
}

.faq .faq-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
}

.faq .faq-content h3{
    text-decoration: none;
    text-align: center;
    width: 50%;
}

.faq h3 span{
    color: #0074d9;
}

.faq .faq-content .questions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 55%;
    margin-top: 3em;

}

.faq .faq-content .questions hr{
    width: 50%;
    height: 1px;
    background-color: #0D1821;
}

/* FAQ RESPONSIVE */

@media (max-width:900px){
    .faq{
        margin: 0 1.3em;
        margin-top: 5em;
    }

    .faq h2{
        font-size: 32pt;
        text-align: center;
    }

    .faq .faq-content h3{
        width: 100%;
    }

    .faq .faq-content .questions{
        width: 100%;
    }

    .faq .faq-content .questions hr{
        width: 25%;
    }

    .faq .faq-content .questions .h4{
        font-size: 16pt;
    }
}

/* PAGE CATEGORY */

/* HERO */

.category-header{
    background-image: url("../img/category-bg.webp");
    background-size: cover;
    height: fit-content;
    padding-bottom: 5em;
}

.category-hero{
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    margin: 2em 0;
    padding: .5em 1em;
    background-color: #f8f9f0;
    border: 1px solid #0D1821;
    border-radius: 50px;
}

.searchbar-btn{
    background: none;
    border: none;
    transition: all .3s ease;
}

.searchbar-btn:active, .searchbar-btn:focus{
    scale: 1.05;
    transition: all .3s ease;
}

.searchbar-btn img{
    width: 1.5em;
    height: 1.5em;
}

.searchbar-input{
    background: none;
    border: none;
    padding: .5em 1em;
    width: 90%;
}

/* HERO RESPONSIVE */

@media (max-width:900px){
    .category-hero{
        padding: 2em 0;
    }

    .category-hero h1{
        font-size: 40pt;
    }

    .searchbar{
        width: 50%;
    }
}

/* TRAVELS */

.travels{
    margin: 0 10em;
    margin-top: 5em;
}

.travels .travel-searching{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

/* FILTRAGE */

.travel-searching .travel-filtres{
    width: 25%;
}

.travel-searching .travel-filtres .travelh3 img{
    display: none;
}

.travel-searching .filtres{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2em 0;
}

.travel-searching .filtres .filtre{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1em 0;
}

.travel-searching .filtres .filtre input{
    white-space: nowrap;
    display: inline;
}

.travel-searching .filtres .filtre .price-range{
    width: fit-content;
}

/* TRAVEL LIST */

.travel-searching .triage select{
    padding: .5em .5em;
    border-radius: 50px;
}

.travel-searching .travel-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 75%;
}

.travel-searching .travel-list .travel{
    margin: 1em 0;
    background-color: #0D1821;
    transition: all .3s ease;
}

.travel-searching .travel-list .travel:hover{
    scale: 1.01;
    transition: all .3s ease;
}

.travel-searching .travel-list .travel img{
    width: 40em;
    height: 15em;
    object-fit: cover;
}

.travel-searching .travel-list .travel .travel-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0D1821;
    color: #f8f9f0;
    padding: 0 1em;
}

.travel-searching .travel-list .travel .travel-body p, .travel-searching .travel-list .travel .travel-body .travel-star{
    margin: 0;
    padding: .5em 1em;
}

.travel-searching .travel-list .travel .travel-body .travel-body-l #travel-note{
    opacity: .5;
}

.travel-searching .travel-list .travel .travel-body .travel-body-r #travel-price span{
    opacity: .5;
}

.travel-searching .travel-list .travel .travel-body .travel-star{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.travel-searching .travel-list .travel .travel-body .travel-star img{
    width: 10%;
    height: auto;
    padding-left: .5em;
}

/* TRAVELS RESPONSIVE */

@media (max-width:900px){
    .travels{
        margin: 0 1.3em;
    }

    .travels h2{
        font-size: 30pt;
    }

    .travels .travel-searching{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .travel-searching .travel-filtres{
        width: 75%;
    }

    .travel-searching .travel-filtres hr{
        display: none;
    }

    .travel-searching .travel-filtres .filtres{
        display: none;
        border: 1px solid #0D1821;
        border-radius: 50px;
        padding: 0 1em;
    }

    .travel-searching .travel-filtres .travelh3{
        display: flex;
        flex-direction: row;
    }

    .travel-searching .travel-filtres .travelh3 h3{
        text-decoration: none;
    }

    .travel-searching .travel-filtres .travelh3 img{
        display: block;
        width: 1.5em;
        height: auto;
        margin-left: .5em;
    }
    
    .travel-searching .travel-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .travel-searching .travel-results{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .travel-searching .travel-list .travel img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .travel-searching .travel-list .travel .travel-body{
        font-size: 7pt;
        padding: 1em 1em;
    }

    .travel-searching .travel-list .travel .travel-body .travel-star .stars{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .travel-searching .travel-list .travel .travel-body .travel-star .stars .material-symbols-outlined{
        scale: .6;
    }
}

/* PAGE VOYAGE */

/* HERO */

.travel-hero{
    margin: 0 10em;
}

.travel-informations{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.travel-informations .travel-info-l{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.travel-informations .travel-info-l p{
    margin: .5em 0;
}

.travel-informations .travel-info-l .stars{
    scale: 1.1;
}

.travel-informations .travel-info-l .travel-info{
    font-weight: bolder;
}

.travel-informations .travel-info-l h3{
    text-decoration: none;
}

.travel-informations .travel-info-l .travel-activite{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.travel-informations .travel-info-l .travel-activite img{
    padding-right: 1em;
}

.travel-informations .travel-info-r > img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.travel-informations .travel-info-r .travel-info-img-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.travel-informations .travel-info-r .travel-info-img-info .travel-info-location{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.travel-informations .travel-info-r .travel-info-img-info .travel-info-location img{
    width: 10%;
    padding-right: .5em;
}

/* HERO RESPONSIVE */

@media (max-width:900px){
    .travel-hero{
        margin: 0 1.3em;
    }

    .travel-hero h1{
        font-size: 40pt;
    }

    .travel-hero h2{
        font-size: 30pt;
    }

    .travel-informations{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .travel-informations .travel-info-l{
        width: 100%;
        margin-bottom: 1em;
    }

    .travel-informations .travel-info-l .travel-activite{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .travel-informations .travel-info-l .travel-activite img{
        padding-right: 1em;
    }

    .travel-informations .travel-info-r{
        width: 100%;
    }

    .travel-informations .travel-info-r > img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .travel-informations .travel-info-r .travel-info-img-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .travel-informations .travel-info-r .travel-info-img-info .travel-info-location{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .travel-informations .travel-info-r .travel-info-img-info .travel-info-location img{
        width: 10%;
        padding-right: .5em;
    }
}

/* ROOMS */

.main-rooms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10em;
}

.main-rooms .room{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    border: 1px solid #0074d9;
    padding: 2em 1em;
    border-radius: 25px;
    margin: 1em 0;
}

.main-rooms .room .room-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 2em;
}

.main-rooms .room .room-info img{
    border-radius: 25px;
    margin-bottom: 1em;
}

.main-rooms .room .room-info p{
    margin: 0;
    margin-bottom: 1em;
}

/* ROOMS RESPONSIVE */

@media (max-width:900px){
    .main-rooms{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5em 1.3em;
    }

    .main-rooms .room{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border: 1px solid #0074d9;
        padding: 2em 1em;
        border-radius: 25px;
        margin-bottom: 1em;
    }

    .main-rooms .room .room-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 2em;
    }

    .main-rooms .room .room-info img{
        border-radius: 25px;
        margin-bottom: 1em;
        width: 100%;
    }

    .main-rooms .room .room-info p{
        margin: 1em 0;
        text-align: center;
    }
}

/* PAGE LOGIN */

/* HEADER */

.login-header{
    height: 100vh;
}

/* HERO */

.login{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.login-l{
    padding-left: 10em;
    width: 25%;
}

.login-l form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.login-l form input{
    width: 100%;
    padding: 1em 1em;
    margin: .5em 0;
    border: 1px solid #0D1821;
    border-radius: .2em;
}

.register-r form ul.mdp-helper li{
    list-style: disc;
}

.register-r form ul.mdp-helper li.valid{
    color: green;
    text-decoration-line: line-through;
}

.register-r form.valid input{
    border : 1px solid green;
}

.login-l form .login-btns{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 3em;
}

.login-l form .login-btns .logs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.login-l form .login-btns .logs a, .login-l form .login-btns .logs button{
    margin-top: 1em;
}

.login-r{
    background-image: url(../img/login-bg.webp);
    background-size: cover;
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

/* HEADER RESPONSIVE */

@media (max-width:900px){
    .login-header{
        margin-bottom: 10em;
    }

    .login-header h1{
        font-size: 40pt;
    }

    .login{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login-l{
        padding: 0;
        width: 75%;
    }

    .login-l form{
        align-items: center;
    }

    .login-l form input{
        width: 75%;
    }

    .login-r{
        display: none;
    }
}

/* REGISTER PAGE */

/* HEADER */

.register-header{
    height: 100vh;
}

/* HERO */

.register{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.register-l{
    background-image: url(../img/register-bg.webp);
    background-size: cover;
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.register-r{
    margin-left: 60%;
    width: 25%;
}

.register-r form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.register-r form input{
    width: 100%;
    padding: 1em 1em;
    margin: .5em 0;
    border: 1px solid #0D1821;
    border-radius: .2em;
}

.register-r .rgpd a{
    opacity: .75;
    color: #0074d9;
    transition: all .5s ease;
}

.register-r .rgpd a:hover{
    opacity: 1;
    transition: all .5s ease;
}

.register-r form .register-btns{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.register-r form .register-btns a, .register-r form .register-btns button{
    margin-top: 1em;
}

/* HEADER RESPONSIVE */

@media (max-width:900px){
    .register-header{
        margin-bottom: 30em;
    }

    .register-header h1{
        font-size: 40pt;
    }

    .register{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .register-l{
        display: none;
    }

    .register-r{
        margin: 0;
        width: 75%;
    }

    .register-r form{
        align-items: center;
    }

    .register-r form input{
        width: 75%;
    }
}

/* 404 PAGE */

.error-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vh;
    scale: 0.8;
    padding-top: 4em;
    margin-bottom: -4em;
}

.error-hero .error-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.error-hero .error-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 75%;
}

.error-hero .error-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.error-hero h1{
    text-align: start;
    color: #0074d9;
    font-size: 62pt;
}

.error-hero h2{
    text-decoration: none;
    font-size: 30pt;
}

.error-hero p{
    color: #0074d9;
    margin-left: 1em;
}

.error-hero iframe{
    border: none;
    scale: 1.5;
}

/* 404 RESPONSIVE */

@media (max-width:900px){
    .error-hero{
        margin: 5em 0;
    }

    .error-hero h1{
        font-size: 40pt;
    }

    .error-hero .error-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .error-hero .error-col{
        width: 100%;
    }

    .error-hero .error-row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .error-hero iframe{
        scale: 1;
    }
}

/* PAGE MODELE LEGALE */

.model-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 10em;
}

/* PAGE MODELE RESPONSIVE */

@media (max-width:900px){
    .page-header{
        margin: 2em 2em;
    }

    .page-header h1{
        font-size: 40pt;
    }

    .model-main{
        margin: 0 2em;
    }

    .model-main h2{
        font-size: 20pt;
    }

    .model-main h3{
        font-size: 16pt;
    }

    .model-main p{
        font-size: 12pt;
    }
}