/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* GENERAL */
body{
    padding: 0;
    margin: 0;
    color: #0D1821;
    font-family: 'Poppins', sans-serif;
    font-size: 16pt;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #0D1821;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 72pt;
}

h2{
    font-size: 48pt;
}

.btn-primary{
    background-color: #0074d9;
    color: #f8f9f0;
    border: 2px solid #0074d9;
    border-radius: 100px;
    padding: 15px 30px;
    cursor: pointer;
    font-weight: lighter;
    text-transform: uppercase;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.5s ease;
}

.btn-primary:hover{
    background-color: #f8f9f0;
    color: #0074d9;
    border: 2px solid #0074d9;
    transition: all 0.5s ease;
}

/* HEADER */
header{
    background-image: url("../img/home-bg.webp");
    background-size: cover;
    height: 100vh;
}

/* NAVBAR */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}

nav .nav-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

nav .nav-brand{
    width: 50%;
    height: auto;
}

nav .nav-burger{
    display: none;
    float: right;
}

nav ul .nav-head{
    padding: 0 10px;
}

nav a{
    text-transform: uppercase;
    font-size: 16px;
    opacity: 75%;
    transition: all 0.3s ease;
}

nav a:hover{
    opacity: 100%;
    transition: all 0.3s ease;

}

.show {
    display: flex !important;
}

/* NAVBAR RESPONSIVE */

@media (max-width:900px) {
    nav{
        flex-direction: column;
        align-items: center;
    }

    nav ul{
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    nav .nav-brand{
        width: 75%;
    }

    nav .nav-burger{
        display: block;
        cursor: pointer;
    }
    
    nav .nav-links{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }
  }

/* HERO */
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 50vh;
    margin: 0 10em;
    margin-top: 5em;
}

.hero h1{
    font-size: 96pt;
}

.hero h2{
    font-size: 64pt;
    width: 50%;
    margin: -1em 0;
}

.hero h2 span{
    color: #0074d9;
}

.hero p{
    padding-top: 5em;
    padding-bottom: 2em;
    width: 30%;
}

.hero .btn-primary{
    font-size: 14pt;
}